<!-- Botão pra abrir o modal -->
<!--
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal-Nome-do-Jogo">
  Avaliar Jogo
</button>
<script src="/js/likeRating.js"></script>
<script src="/js/starsRating.js"></script>
-->

<div class="modal fade" id="modal-game-<%= game.id %>"  data-bs-backdrop="static" tabindex="-1">
  <div class="modal-dialog">
    <form id="createReviewForm" class="modal-content modal-review">

      <div class="modal-header">
        <h1 class="modal-title fs-6" id="label-<%= nameGame %>">Escrevendo review...</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <section class="modal-game">
          <img src="<%= gameCover || '/images/default.jpg' %>" class="game-img rounded">
        </section>
        
        <section class="modal-info">
          <h1 class="fs-5 modal-description text-white fw-bold">
            <%= nameGame || 'Nome do Jogo' %> <span>(<%= year || '----' %>)</span>
          </h1>

          <input type="hidden" name="gameId" value="<%= gameId %>">
          <input type="hidden" name="nameGame" value="<%= nameGame %>">

          <div class="mb-3">
            <label for="reviewTextarea" class="form-label">Sua Review</label>
            <textarea name="reviewText" class="form-control fs-6" id="reviewTextarea" rows="3"
              placeholder="Escreva aqui o que você achou do jogo..."></textarea>
          </div>

          <div class="modal-avaliation">

            <div class="d-flex align-items-center gap-5 mt-4">
              <div class="modal-rating">
                <span class="d-block mb-1 text-white fw-bold">Avaliar</span>
                <div class="stars p-0 d-flex gap-1">

                  <input type="hidden" name="rating" id="selectedRating" value="0">
                  <% for(let i=1; i <=5; i++) { %>
                    <i class="bi bi-star star-selectable" data-value="<%= i %>"></i>
                  <% } %>

                </div>
              </div>

              <div class="modal-like">
                <span class="d-block mb-1 text-white fw-bold">Like</span>
                <input type="hidden" name="isFavorite" class="is-favorite-input" value="false">
                <i class="bi bi-heart like-icon-clickable" style="cursor: pointer;"></i>
              </div>
            </div>
          </div>

        </section>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary px-4 py-2" data-bs-dismiss="modal" onclick="window.location.reload()">Close</button>
        <button type="submit" class="btn btn-success px-4 py-2 d-flex align-items-center gap-2">
          <i class="bi bi-plus-lg"></i> Add
        </button>
      </div>

    </form>
  </div>
</div>