<%- include('./partials/_header') %>
  <main class="home-layout">

    <div class="left-column">

      <%- include('partials/carousel') %>

        <section>

          <h5 class="text-section">Jogos Populares</h5>

          <div class="games-row">
              <%- include('partials/cardSwiper', { 
                swiperClass: 'popular-games-slider', 
                direction: 'horizontal',
                slidesPerView: 5, 
                partial: 'cardGame', 
                items: dadosDosJogos 
              }) %>
          </div>

        </section>

        <section>

          <h5 class="text-section">Lançamentos</h5>

          <div class="games-row">
            <%- include('partials/cardSwiper', { 
                swiperClass: 'recentes-games-slider', 
                direction: 'horizontal',
                slidesPerView: 5, 
                partial: 'cardGame', 
                items: lancamentos 
              }) %>
          </div>

        </section>

    </div>

    <div class="right-column">

      <h5 class="text-section">Reviews Populares</h5>

      <div class="reviews-section">
        <% if (locals.fakeReviews && fakeReviews.length> 0) { %>
          <% fakeReviews.slice(0, 5).forEach(review=> { %>
          <%- include('partials/cardReview', { 
            nameGame: review.nameGame, 
            year: review.year, 
            rating: review.rating,
            gameCover: review.gameCover, 
            authorName: review.authorName, 
            reviewText: review.reviewText }) %>
          <% }) %>
          <% } else { %>
          <p>Sem avaliações até o momento.</p> 
          <% } %>
      </div>
    </div>

  </main>
<%- include ('./partials/_footer') %>
