  <%- include('partials/header') %>

  <main class="home-layout">

    <div class="left-column">

      <%- include('partials/carousel') %>

      <section>

        <h5 class="text-section">Jogos Populares</h5>

        <div class="games-row">
          <%- include('partials/cardGame', {rating: 5}) %>
          <%- include('partials/cardGame', {rating: 4}) %>
          <%- include('partials/cardGame', {rating: 3}) %>
          <%- include('partials/cardGame', {rating: 3}) %>
          <%- include('partials/cardGame', {rating: 3}) %>
        </div>

      </section>

      <section>

        <h5 class="text-section">Lançamentos</h5>

        <div class="games-row">
          <%- include('partials/cardGame', {rating: 5}) %>
          <%- include('partials/cardGame', {rating: 4}) %>
          <%- include('partials/cardGame', {rating: 3}) %>
          <%- include('partials/cardGame', {rating: 3}) %>
          <%- include('partials/cardGame', {rating: 3}) %>
        </div>

      </section>

    </div>

    <div class="right-column">

      <h5 class="text-section">Reviews Populares</h5>

      <div class="reviews-section">
        <%- include('partials/cardReview', {rating: 5, gameCover: '/images/imgcarousel.jpg'}) %>
        <%- include('partials/cardReview', {rating: 4, gameCover: '/images/imgcarousel2.jpg'}) %>
        <%- include('partials/cardReview', {rating: 3, gameCover: '/images/imgcarousel.jpg'}) %>
        <%- include('partials/cardReview', {rating: 4, gameCover: '/images/imgcarousel2.jpg'}) %>
        <%- include('partials/cardReview', {rating: 3, gameCover: '/images/imgcarousel.jpg'}) %>
      </div>
    </div>

  </main>
  
  </body>

</html>