  <%- include('partials/_header') %>

  <main class="profile-layout">

    <aside class="profile-sidebar">
      
      <%- include('partials/profileCard') %>

      <%- include('partials/profileStats') %>

    </aside>

    <section class="profile-content">

      <section>

        <h2 class="text-section">Jogos Favoritos</h2>

        <div class="games-row">
          <% if (locals.favoriteGames && favoriteGames.length > 0) { %>
            <%- include('partials/cardSwiper', { 
            swiperClass: 'favorite-games-slider', 
            direction: 'horizontal',
            slidesPerView: 5,
            partial: 'cardGame', 
            items: locals.favoriteGames || [] 
          }) %>

          <% } else { %>
            <p class="text-white-50">Ainda não há nenhum jogo favorito.</p>
          <% } %>
        </div>

      </section>

      <section>

        <h2 class="text-section">Reviews Recentes</h2>

        <div class="reviews-section-profile">
          <%- include('partials/cardSwiper', { 
            swiperClass: 'review-games-slider', 
            direction: 'horizontal',
            slidesPerView: 5,
            partial: 'cardReview', 
            items: fakeReviews 
            }) %>
        </div>

      </section>

    </section>

  </main>

<%- include ('./partials/_footer') %>
