  <%- include('partials/_header') %>

  <main class="profile-layout">

    <aside class="profile-sidebar">
      
      <%- include('partials/profileCard') %>

      <%- include('partials/profileStats') %>

    </aside>

    <section class="profile-content">

      <section>

        <h2 class="text-section">Jogos Favoritos</h2>

        <div class="games-row">
            <%- include('partials/cardSwiper', { 
              swiperClass: 'favorite-games-slider', 
              direction: 'horizontal',
              slidesPerView: 5,
              partial: 'cardGame', 
              items: [ 
                {rating: 5, title: 'Jogo 1' }, 
                {rating: 4, title: 'Jogo 2' }, 
                {rating: 3, title: 'Jogo 3' }, 
                {rating: 3, title: 'Jogo 4' }, 
                {rating: 3, title: 'Jogo 5' },
                {rating: 5, title: 'Jogo 6' }, 
                {rating: 3, title: 'Jogo 7' },
              ] }) %>
        </div>

      </section>

      <section>

        <h2 class="text-section">Reviews Recentes</h2>

        <div class="reviews-section-profile">
          <%- include('partials/cardSwiper', { 
            swiperClass: 'review-games-slider', 
            direction: 'horizontal',
            slidesPerView: 5,
            partial: 'cardReview', 
            items: fakeReviews 
            }) %>
        </div>

      </section>

    </section>

  </main>

<%- include ('./partials/_footer') %>
